<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <title>Weather App</title>
</head>
<body>
    <div class="search-bar">
        <form action="/" method="POST">
            <button class="reset-button" type="submit">
                <span class="material-symbols-outlined search-icon">
                    search
                </span>
            </button>
            <input type="text" name="city" placeholder="Search City">
        </form>
    </div>

    <div class="weather-result-container">
        <h2 class="location">
            <% if (locals.city) { %>
             <%= city %>
            <% } else { %>
                London
            <% } %>
        </h2>
        
        <span class="material-symbols-outlined weather-icon">
            <% if (locals.icon) { %>
                <%= icon %>
            <% } else { %>
                unknown_med
            <% } %>
        </span>

        <h1 class="temperature">
            <% if (locals.temp) { %>
                <%= temp %>
            <% } else { %>
                28
            <% } %>
        </h1>
        <h3 class="weather-description">
            <% if (locals.description) { %>
                <%= description %>
            <% } else { %>
                Cloudy
            <% } %>
        </h3>
    </div>

</body>
</html>